@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root{
    --background-color1:rgb(2,0,36);
    --background-color2:rgba(9,9,121,1);
    --background-color3:rgba(0,212,255,1);
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, var(--background-color1) 0%, var(--background-color2) 35%, var(--background-color3) 100%);
}

.container{
    background-color:#1c1c1c;
    border-radius: 0.3rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #f9f9f9;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
    /* box-shadow: 0 0 20px #f9f9f9; */
    .data{
        font-size: 0.7rem;
        font-weight: 200;
    }
    .relogio span{
        font-size: 3rem;
        font-weight: 600;
    }
}

.pontinhos{
    animation: piscapisca  1s infinite linear;
}

@keyframes piscapisca{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}